.appbar {
    background-color: #15898d;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    width: 100vw;
    font-size: 16px;
}

.appbar a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: 1rem;
}

.my-custom-search-bar {
    width: 300px;
    height: 38px;
    padding: 0rem;
    font-size: 16px;
}